.Stores {
  grid:none;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
    height: 60vh;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(125, 123, 126);
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    justify-content: center;

  }